@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: visible;
}

html {
  scroll-behavior: smooth;
}

body {
  transition: 0.5s ease;
  background-color: #3E3535;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.common {
  position: relative;
  max-width: 1450px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.card {
  background: #B49791;
  box-shadow: 0px 4px 24px -1px rgb(0 0 0 / 20%);
  backdrop-filter: blur(20px);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-main {
  margin-top: 20px;
}

.hp-content h1 {
  margin: 20px 0;
}

/* Events CSS  */

#Events {
  color: white;
  padding: 50px 50px;
  position: relative;
  overflow: hidden;
  background-color: rgb(0, 0, 0, 0.5);
}

#home .video-bg {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.video-bg {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}

.eve-heading {
  text-align: center;
  background: rgba(180, 151, 145, 0.13);
  border-radius: 200px;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px 15px;
}

.eve-heading img {
  width: 100%;
  max-width: 600px;
}

.eve-info p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: center;
  margin: 10px 6%;
  color: #B49791;
}

.Eventcard {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.dull {
  display: none;
}

.eve-card {
  margin: 10px;
}

.mobile-list {
  display: none;
}

.eve-card .circle {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 40px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  border: 2px solid #E24501;
  transition: 0.3s all;
  cursor: pointer;
  z-index: 10;
}

.section-end {
  width: 30%;
  text-align: center;
  margin: 0 auto;
  border: none;
  border-bottom: 5px solid #B49791;
  border-radius: 10px;
}

.circle .colo {
  color: #E24501;
  font-size: 27px;
}

.eve-card .rec {
  height: 350px;
  max-width: 450px;
  /* background-color: #715449; */
  background: radial-gradient(100% 100% at 28.98% 0%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.1) 100%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
  ;
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 35px;
  text-align: justify;
  font-size: 18px;
  text-align: justify;
}

.eve-btn {
  padding: 15px 34px;
  border-radius: 15px;
  border: none;
  color: #ED4B06;
  font-weight: 600;
  font-size: 17px;
  transition: 0.5s all;
  margin-top: 20px;
}

.eve-btn:hover {
  background-color: #811400;
  color: white;
  cursor: pointer;
}

/* About CSS  */

#about {
  color: white;
  padding: 10px 40px;
  text-align: left !important;
  position: relative;
  overflow: hidden;
  background-color: rgb(0, 0, 0, 0.5);
}

.abo {
  display: flex;
  /* position: relative; */
}

.abo-main {
  max-width: 1250px;
  margin: 0 auto;
  text-align: justify;
}

#about .abo .abo-main .heading {
  text-align: left !important;
  margin-left: 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
}

.abo-main .para {
  color: rgb(209, 209, 209);
}

h1 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
}

p {
  font-family: 'Roboto', 'sans-serif';
}

.gear img {
  position: absolute;
}

.abo-img {
  display: flex;
}

.abo-img .gear-img {
  position: relative;
  left: 12px;
  top: 2px;
  width: 13%;
  height: 10%;
}

.triangle {
  position: relative;
  left: 35%;
}

.heading {
  text-align: center;
  margin: 70px 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.0rem;
}

.para {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  /* text-align: center; */
  margin-bottom: 100px;
}

.abo-row {
  display: flex;
  justify-content: space-around;
  margin: 7% 10px;
}

.abo-card {
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  background-color: #B49791;
}

.heading img,
.hm-heading img,
.hm-heading video {
  max-width: 700px;
  width: 100%;
}

.eve-info p {
  font-size: medium;
}

.eve-card .rec p {
  font-size: medium;
}

.abo-card h1 {
  font-size: 45px;
  color: black
}

.abo-card p {
  font-size: 20px;
  color: #741919;
}

/* Competiton Style  */
#competition {
  color: white;
  padding: 50px 50px;
  position: relative;
  overflow: visible;
  background-color: rgb(0, 0, 0, 0.5);
}

#competition .heading {
  text-align: center;
  background: url("../img/competition.jpg");
  background-size: contain;
  background-color: rgb(0, 0, 0, 0.8);
  background-blend-mode: multiply;
  border-radius: 200px;
  width: 100%;
  margin-bottom: 20px;
  margin-left: 0;
  padding: 40px 20px;
}

#competition .heading img {
  width: 100%;
}

#competition button {
  position: static;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.comp-info {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-align: center;
  margin: 10px 6%;
  color: #B49791;
}

.comp-card {
  height: max-content;
  width: 20vw;
  max-width: 350px;
  flex-direction: column;
  border: 2px solid #ED4B06;
  transition: 0.2s all;
  margin: 20px 0;
  padding: 30px 20px;
  background-color: black;
}

.comp-card img {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.comp-card p {
  margin: 20px 0;
  text-align: center;
  font-size: medium;
}

.comp-card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.comp-head {
  font-size: 26px;
}

.comp {
  display: flex;
  justify-content: center;
  max-width: max-content;
  align-items: stretch;
  margin: 0 auto;
}

.comp-row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 50px 35px;
  overflow-x: visible;
}

.hackathons {
  display: flex;
  justify-content: space-evenly;
  padding: 0 50px;
  align-items: center;
}

.hackathons .card {
  background-color: transparent;
  height: 350px;
}

/* Workshops Style  */
#workshop {
  font-family: 'Open Sans';
  font-style: normal;
  padding: 0;
  background-color: rgb(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
  padding: 50px 50px;
}

.ws-heading {
  text-align: center;
  background: url('../img/workshop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(0, 0, 0, 0.8);
  background-blend-mode: multiply;
  /* background: rgba(180, 151, 145, 0.13); */
  border-radius: 200px;
  width: 90%;
  padding: 50px 0;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: visible;
}

.big-gear {
  position: absolute;
  right: 36%;
  bottom: 12%;
  height: 9vw;
  width: 9vw;
  max-width: 80px !important;
  max-height: 80px;
  animation: rotation 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.plus-icon {
  font-size: 50px;
  font-weight: 900;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 80px;
  left: 0;
  background-color: rgb(0, 0, 0, 0.8);
  display: none;
  z-index: 10;
  transition: 0.3s all;
}

.ws-card h3 {
  font-size: x-large !important;
}


.small-gear {
  position: absolute;
  right: 40%;
  bottom: -5%;
  height: 7vw;
  width: 7vw;
  max-width: 50px !important;
  max-height: 50px;
  animation: rotation 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

#workshop .ws-desc {
  text-align: center !important;
  font-size: x-large;
  color: #B49791;
}

.hm-heading,
.hm-desc,
.ws-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: row;
}

.ws-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100%; */
  justify-content: space-between;
  overflow: hidden;
}

.hm-heading {
  padding: 30px 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
}

.hm-desc {
  padding: 60px 180px 0 180px;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  text-align: justify;
}

.ws-container {
  padding: 60px 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 450px;
}

.ws-card {
  width: 25vw;
  min-width: 200px;
  height: 20vw;
  min-height: max-content;
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 4vw;
  z-index: 1;
  border: 2px solid #ED4B06;
  transition: 0.3s all;
  padding: 10px;
}

.ws-card {
  position: relative;
  z-index: 1;
}

.ws-card img,
.ws-card h3 {
  position: relative;
}

.ws-card::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-color: #b49791;
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  z-index: 0;
}

a[href="#workshop-04"] .ws-card::before {
  background-image: url('../img/ws-images/nft-bg.png');
  opacity: 0.4;
}

a[href="#workshop-03"] .ws-card::before {
  background-image: url('../img/ws-images/networking-bg.png');
}

a[href="#workshop-05"] .ws-card::before {
  background-image: url('../img/ws-images/marketing.png');
}

a[href="#workshop-01"] .ws-card::before {
  background-image: url('../img/ws-images/customers.png');
  background-blend-mode: color-burn;
  background-color: #bb897f;
}

.ws-card:hover {
  cursor: pointer;
  transform: scale(1.05)
}

.ws-card img {
  width: 50%;
  height: 50%;
  object-fit: contain;
}

.ws-card h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  padding-top: 10px;
}

/* .ws-center-img{
    position: relative;
    bottom: 1185px;
    left: 715px;
    opacity: 1;
}
.ws-center-img img{
    width: 470px;
} */
@media (min-width:901px) {
  .ws-card-container {
    width: 100%;
  }
}

@media (max-width:900px) {
  .ws-card-container {
    flex-direction: column;
    justify-content: center;
  }

  .ws-card h3 {
    font-size: medium;
  }

  /* .ws-center-img{
        opacity: 0;
    } */
  .ws-container {
    padding: 60px 60px;
  }

  .hm-desc {
    padding: 60px 100px 0 100px;
  }

  .ws-container {
    background: none;
  }
}

@media (max-width:480px) {
  .hm-desc {
    padding: 30px 20px 0 20px;
  }

  .hm-heading {
    font-size: 30px;
  }

  .ws-card {
    width: 85vw;
    height: max-content;
    margin: 20px;
  }

  .ws-card img {
    width: 20%;
    height: 20%;
  }

  .ws-container {
    flex-direction: column;
  }

  #about {
    padding: 20px;
  }

  .heading {
    margin: 30px 0;
  }
}


/* Speaker Styling  */


/* Speaker Styling  */


* {
  margin: 0;
  padding: 0;
}

@keyframes scroll1 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-350px * 4));
  }
}


.slider {
  /* background: white; */
  /* background: #010101; */
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  /* height: 450px; */
  text-align: center;
  overflow: visible;
}

.slider img {
  object-fit: contain;
  padding: 10px 20px;
  /* height: 100px; */
  /* width: 250px; */
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  animation: scroll1 15s linear infinite;
  display: flex;
  width: calc(350px*8);
  animation-iteration-count: infinite;
  overflow-x: visible;
}

.slider .slide {
  margin: 0 25px;
  width: 350px;
  overflow-x: visible;
}

.sp-heading {
  text-align: center;
  background: url("../img/speakers.jpg");
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgb(0, 0, 0, 0.7);
  border-radius: 200px;
  width: 90%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-top: -50px;
}

.sp-heading img {
  max-width: 600px !important;
}

#speakers {
  background-color: rgb(0, 0, 0, 0.5);
  position: relative;
}


#speakers .sp-desc {
  color: #B49791 !important;
  padding-top: 20px;
}

.sp-desc p {
  font-size: large;
}

.sp-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sp-image {
  width: 100%;
}

.sp-image img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 50%;
}

.sp-speaker-name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sp-speaker-name h4 {
  font-weight: 600;
  color: #FAD8BA;
  font-family: 'Roboto';
  font-size: medium;
}

.sp-speaker-name h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #FAD8BA;
  font-family: 'Roboto';
  font-size: x-large;
}

.ws-desc p {
  font-size: large;
}

.circle:hover {
  top: 20px;
}

.sp-button {
  width: 400px;
  height: 100px;
  background: #D9D9D9;
  box-shadow: 0px 4px 4px rgba(245, 83, 10, 0.61);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.sp-button h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 33px;
  color: #E36D3D;
  padding-right: 10px;
}

.hm1-heading {
  padding: 30px 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
}

.hm1-desc {
  padding: 60px 180px 0 180px;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  text-align: justify;
}

.hm1-heading,
.hm1-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
}

#speakers {
  font-family: 'Open Sans';
  font-style: normal;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 50px 0;
}

@media(max-width:900px) {


  /* .sp-container {
        padding: 30px;
    } */
  .hm1-desc {
    padding: 60px 100px 0 100px;
  }

  .sp-button {
    width: 300px;
    height: 80px;
  }

  .sp-button h3 {
    font-size: 24px;
  }
}

@media(max-width:480px) {

  .slider::before,
  .slider::after {
    height: 300px;
    width: 75px;
  }

  .sp-image img {
    height: 45vw;
    width: 45vw;
    border-radius: 125px;
  }

  .sp-card {
    width: max-content;
  }

  .sp-speaker-name h3 {
    font-size: medium !important;
  }

  .sp-button {
    width: 252px;
    height: 60px;
  }

  .sp-button h3 {
    font-size: 16px;
  }

  .sp-speaker-name h3 {
    font-size: 24px;
  }

  .hm1-desc {
    padding: 30px 20px 0 20px;
  }

  .hm1-heading {
    font-size: 30px;
  }
}

.quotes {
  display: flex;
  flex-direction: column;
  padding: 50px 100px;
  align-items: center;
  text-align: center;
  position: relative;
  background-color: rgb(0, 0, 0, 0.5);
  overflow: hidden;
}

.quote {
  width: 85%;
  padding: 50px;
  border-radius: 10px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: x-large;
  background: url("../img/quote-bg.png");
  background-color: rgb(0, 0, 0, 0.7);
  background-blend-mode: color-burn;
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
}

.quote p {
  margin: 30px 0;
}

.quotes .back-to-top {
  margin-top: 0px;
  background: #D9D9D9;
  border-radius: 40px;
  color: black;
  font-size: large;
  display: flex;
  align-items: center;
  padding: 15px 25px;
  border: none;
  z-index: 1000;
  margin-top: 50px;
  transition: 0.3s all;
}

.back-to-top:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #e25b26;
  color: white;
}

.footer {
  padding: 50px 0;
  color: white;
  text-align: center;
  font-size: x-large;
  position: relative;
  background-color: rgb(0, 0, 0, 0.5);
  overflow: hidden;
}

.footer .socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  align-content: center;
  margin: auto;
  max-width: 700px;
}

.footer .moto {
  display: flex;
  align-items: center;
  width: max-content;
  color: white;
  font-size: x-large;
  background: radial-gradient(100% 100% at 28.98% 0%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.1) 100%);
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 1px solid red;
  padding: 20px;
  margin: 50px 0;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

.footer .moto img {
  height: 5vw;
  object-fit: contain;
  margin: 0 20px;
  max-height: 50px;
}

.contact {
  background-color: #23130D;
  color: white;
  text-align: center;
  font-size: large;
  padding: 50px 0;
}

.icon {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.contact div {
  display: flex;
  width: 90%;
  align-content: center;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 20px;
}

/* ************************ Carousel *******************************8 */

.carousel {
  display: flex;
  flex-direction: column;
  width: 80rem;
  position: relative;
}

/* CONTROLS */
.btn-arrow {
  width: 3.6rem;
  height: 3.6rem;

  background-color: #fff;

  border: none;
  border-radius: 50%;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

  cursor: pointer;
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 999;
}

.btn-arrow:hover,
.btn-arrow:active {
  background-color: #e6e6e6;
}

.btn-arrow-left {
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.btn-arrow-right {
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
}

/* SLIDES */
.inner {
  position: relative;
  align-self: center;
  width: 80rem;
  height: 28rem;
  border-radius: 30px;
  overflow: hidden;
}

.container {
  list-style: none;
  /* transform: translate(0%); */
}

.container .slide {
  /* === TO CENTER TEXT === */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 80rem;
  height: 100%;
  transition: all 0.3s;
}

/* DOTS */
.dots {
  margin-top: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.dot {
  width: 1.6rem;
  height: 1.6rem;

  border-radius: 50%;
  border: none;

  background-color: white;

  cursor: pointer;
}

.dot:hover {
  background-color: red;
}

.dot--active {
  background-color: red;
}

a {
  color: white;
  overflow: visible;
}

/* Popup Modal 
/* ------------------------------------------------------------------ */

.popup-modal {
  max-width: 550px;
  background: radial-gradient(100% 100% at 28.98% 0%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.1) 100%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
  ;
  box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  position: relative;
  margin: 0 auto;
  max-height: 80vh;
}

.popup-modal .media {
  position: relative;
}

.popup-modal img {
  vertical-align: middle;
}

/* description */

.popup-modal .description-box {
  max-height: 80vh;
  overflow-y: auto;
  padding: 6px 36px 30px;
  background: transparent;
  overflow: visible;
}

.popup-modal .description-box h4 {
  font: 24px/24px "raleway-heavy", sans-serif;
  color: #FF2929;
  margin: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
  overflow: visible;
}

.popup-modal .description-box p {
  font: 18px/24px "merriweather-regular", serif;
  color: white;
  margin-bottom: 12px;
}

.popup-modal .description-box ul {
  font: 14px/24px "merriweather-regular", serif;
  color: #8d8d8d;
  font-size: 14px;
  line-height: 18px;
  margin-top: 1px;
}

.register-new {
  background: #FF2929;
}


/* categories */

.popup-modal .categories {
  font: 11px/18px "raleway-heavy", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: block;
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
}

/* link box */

.popup-modal .link-box {
  width: 100%;
  overflow: hidden;
  background: #000000;
}

.popup-modal .link-box a {
  font: 12px/60px "raleway-heavy", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
  display: block;
  text-align: center;
  float: left;
  width: 50%;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.popup-modal .link-box a:first-child {
  border-right: 1px solid rgba(200, 200, 200, 0.1);
}

.popup-modal .link-box a:hover {
  background: #811400;
  color: white;
  border: none;
}

/* media queries - popup-modal */

@media only screen and (max-width: 600px) {
  .popup-modal {
    width: auto;
    margin: 0 20px;
  }
}

/* transition effect for modal popup
/* ------------------------------------------------------------------ */

/* overlay at start */

.mfp-fade.mfp-bg {
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  zoom: 1;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* overlay animate in */

.mfp-fade.mfp-bg.mfp-ready {
  filter: alpha(opacity=80);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  opacity: 0.8;
  zoom: 1;
}

/* overlay animate out */

.mfp-fade.mfp-bg.mfp-removing {
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  zoom: 1;
}

/* content at start */

.mfp-fade.mfp-wrap .mfp-content {
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  zoom: 1;
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* content animate in */

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  zoom: 1;
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

/* content animate out */

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  zoom: 1;
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  z-index: 9999999;
  height: 100vh;
  width: 100vw;
  font-family: 'Bazar';
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.no-js #preloader,
.oldie #preloader {
  display: none;
}

#loader video {
  width: 100vw;
  height: 100vh;
  max-width: 800px;
}

#loader svg {
  display: block;
  font: 150px 'Bazar';
  width: 100vw;
  height: 200px;
  margin: 0 auto;
}

/* Main stuff */
.text--transparent {
  fill: transparent;
}

.anim-shape {
  -webkit-transform-origin: 0x 150px;
  transform-origin: 0x 150px;
  -webkit-transform: scale(0, 1) translate(0, 0);
  transform: scale(0, 1) translate(0, 0);
  -webkit-animation: moving-panel 3s infinite alternate;
  animation: moving-panel 3s infinite alternate;
}

.colortext .anim-shape:nth-child(1) {
  fill: #F14F04;
}

.colortext .anim-shape:nth-child(2) {
  fill: #D23103;
}

.colortext .anim-shape:nth-child(3) {
  fill: #9B1901;
}

.colortext .anim-shape:nth-child(4) {
  fill: #552026;
}

.colortext .anim-shape:nth-child(5) {
  fill: #8D1801;
}

.shadow {
  -webkit-transform: translate(10px, 10px);
  transform: translate(10px, 10px);
}

.anim-shape--shadow {
  fill: #000;
  fill-opacity: .2;
}

@-webkit-keyframes moving-panel {
  100% {
    -webkit-transform: scale(1, 1) translate(20px, 0);
    transform: scale(1, 1) translate(20px, 0);
  }
}

@keyframes moving-panel {
  100% {
    -webkit-transform: scale(1, 1) translate(20px, 0);
    transform: scale(1, 1) translate(20px, 0);
  }
}

.content {
  font: 800 14.5em/1 'Open Sans', Impact;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(100px);
  }
}

svg #wheel {
  animation: scroll ease 1.5s infinite;
}

.price-list {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.plan-price {
  font-family: 'Fjalla One', sans-serif;
  font-size: xx-large;
}

.price-card {
  border: 5px solid white;
  border-radius: 15px;
  padding: 20px;
  width: 40%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.price-card ul li {
  margin: 5px 0;
}

.price-card button {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-size: large;
  background-color: #F14F04;
  color: white;
  margin-top: 10px;
  border: none;
  transition: 0.3s all;
}

.price-card button:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: white;
  color: #F14F04;
}

.pc2 {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

@media (max-width: 1200px) {
  .price-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pc2 {
    width: 90%;
    margin-bottom: 20px;
    max-width: 800px;
  }
}

@media (max-width: 600px) {
  .pc2 {
    flex-direction: column;
  }

  .price-card {
    width: 100%;
    margin-bottom: 20px;
  }

  #about {
    padding: 50px 20px !important;
  }

  #about .section-end {
    top: 50px !important;
  }

  .abo-row {
    margin: 0;
  }
}

#timer {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 40%;
  max-width: 500px;
  min-width: 320px;
  margin-bottom: 20px;
  border: 3px solid black;
  padding: 20px;
  border-radius: 10px;
}

#timer .days,
#timer .hours,
#timer .minutes,
#timer .seconds {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
}

#timer .numbers {
  font-size: xx-large;
  border-radius: 50%;
  padding: 10px;
  background-color: black;
  text-align: center;
  width: 70px;
  height: 70px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
}

#timer .numbers::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 62px;
  height: 62px;
  border: 4px solid #542327;
}